<main class="min-hz-100vh">
  <body>
    <section class="pb-4">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 pt-2">
            <div
              id="carouselExampleIndicators"
              class="carousel slide pointer-event"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <% for(let i=0; i< project.preview.length; i++){ %> <% if (i ==
                0) { %>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <%} else {%>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="<%=i%>"
                  aria-label="Slide <%=i+1%>"
                ></button>

                <%}%> <%}%>
              </div>
              <div class="carousel-inner">
                <% for(let i=0; i< project.preview.length; i++){ %> <% if (i ==
                0) { %>
                <div class="carousel-item active">
                  <img
                    class="img-fluid bg-light"
                    src="<%=project.preview[i]%>"
                    alt="Slide <%=i+1%>"
                  />
                </div>
                <%} else {%>
                <div class="carousel-item">
                  <img
                    class="img-fluid bg-light"
                    src="<%=project.preview[i]%>"
                    alt="Slide <%=i+1%>"
                  />
                </div>
                <%}%> <%}%>
              </div>
            </div>
          </div>
          <div class="col-xl-4 pt-2 justify-content-between d-flex flex-column">
            <div class="d-block pb-4">
              <div class="d-block">
                <p class="fz-26 fw-bold pt-2"><%= project.name %></p>
                <p class="lh-lg">
                  作品簡介：<br />&emsp;&emsp;<%= project.introduction %>
                </p>
                <div class="d-block">
                  <p class="lh-lg">
                    組員：<% for(let i=0; i< project.members.length; i++){ %><%
                    if(i==project.members.length-1){ %><%=
                    project.members[i].name %><% } else { %><%=
                    project.members[i].name %>, <%}%><% } %><br />
                    指導老師：<%= project.instructor %>
                  </p>
                </div>
              </div>
            </div>
            <% if(project.social != null) { %><% if(project.social.length != 0)
            { %>
            <div class="d-block text-end pe-2">
              <% for(let i=0; i < project.social.length; i++){ %> <% if
              (project.social[i].type == "ig") { %>
              <a
                href="<%= project.social[i].link %>"
                target="_blank"
                rel="instagram"
                aria-label="Instagram"
              >
                <i class="fa-brands fa-instagram fz-26 team-social-link"></i>
              </a>
              <% } %> <% } %>
            </div>
            <% } %> <% } %>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-4">
      <div class="container pt-lg-4">
        <div class="row">
          <% for(let i=0; i < project.members.length; i++){ %>
          <div
            class="col-xl-2 col-md-4 d-flex justify-content-center pb-md-5 pb-2 pt-4 pt-sm-0"
          >
            <div class="wz-160">
              <img
                class="img-fluid"
                src="/img/main/test/test_person_1.png"
                alt="person headshot"
              />
            </div>
          </div>
          <div class="col-xl-4 col-md-8 pb-md-5 pb-2 pt-2 pt-sm-0">
            <div class="d-block">
              <p class="fz-26 text-center text-md-start">
                <%= project.members[i].name %>
              </p>
              <hr class="hr" />
              <p class="fz-16 ps-2 ps-md-0">
                負責項目：<%= project.members[i].position %>
              </p>
              <p class="fz-16 ps-2 ps-md-0">
                個人專長：<% if( project.members[i].skill != null) { %><%=
                project.members[i].skill %> <% } %>
              </p>
              <p class="fz-16 ps-2 ps-md-0 lh-lg">
                聯絡方式：<% if( project.members[i].contact != null) { %><% if(
                project.members[i].contact.length != 0) { %><% for(let j=0; j <
                project.members[i].contact.length; j++){ %> <%
                if(project.members[i].contact[j].type == "email") { %>
                <br />&emsp;&emsp;信箱 – <%=project.members[i].contact[j].link
                %> <% } else if (project.members[i].contact[j].type == "tel") {
                %> <br />&emsp;&emsp;電話 –
                <%=project.members[i].contact[j].link %> <% } else if
                (project.members[i].contact[j].type == "web") { %> <% if
                (project.members[i].contact[j].link.length != 0) {%>
                <br />&emsp;&emsp;網站 – <% for(let k=0; k <
                project.members[i].contact[j].link.length; k++){ %><%
                if(project.members[i].contact[j].link[k].type == "personal") {%>
                <a
                  class="contact-link"
                  href="<%= project.members[i].contact[j].link[k].link %>"
                  target="_blank"
                  rel="personal website"
                  aria-label="Personal Website"
                  ><i class="fa-solid fa-globe fz-18"></i></a
                ><% if(k != project.members[i].contact[j].link.length - 1)
                {%>&ensp;<% } %><% } else
                if(project.members[i].contact[j].link[k].type=="fb"){%>
                <a
                  class="contact-link"
                  href="<%= project.members[i].contact[j].link[k].link %>"
                  target="_blank"
                  rel="facebook"
                  aria-label="Facebook"
                  ><i class="fa-brands fa-brands fa-facebook fz-20"></i></a
                ><% if(k != project.members[i].contact[j].link.length - 1)
                {%>&ensp;<% } %> <% } else
                if(project.members[i].contact[j].link[k].type=="ig"){%>
                <a
                  class="contact-link"
                  href="<%= project.members[i].contact[j].link[k].link %>"
                  target="_blank"
                  rel="instagram"
                  aria-label="Instagram"
                  ><i class="fa-brands fa-instagram fz-20"></i></a
                ><% if(k != project.members[i].contact[j].link.length - 1)
                {%>&ensp;<% } %> <% } %> <% } %> <% } %> <% } %> <% } %> <% } %>
                <% } %>
              </p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </section>

    <% layout("layout") %>
  </body>
</main>
