<main class="min-hz-100vh">
  <body>
    <section class="pb-4">
      <div class="container pb-4">
        <div class="row pb-4">
          <div class="col-xl-8 pt-2">
            <div
              id="carouselExampleIndicators"
              class="carousel slide pointer-event"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <!-- <div class="carousel-item active">
                  <img
                    class="img-fluid bg-light"
                    src="/img/main/test/test_content_1.png"
                    alt="Slide 1"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="img-fluid bg-light"
                    src="/img/main/test/test_content_2.png"
                    alt="Slide 2"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="img-fluid bg-light"
                    src="/img/main/test/test_content_3.png"
                    alt="Slide 3"
                  />
                </div> -->

                <% for(var i=0; i< project.preview.length; i++){ %> <% if (i ==
                0) { %>
                <div class="carousel-item active">
                  <img
                    class="img-fluid bg-light"
                    src="<%=project.preview[i]%>"
                    alt="Slide <%=i+1%>"
                  />
                </div>
                <%} else {%>
                <div class="carousel-item">
                  <img
                    class="img-fluid bg-light"
                    src="<%=project.preview[i]%>"
                    alt="Slide <%=i+1%>"
                  />
                </div>
                <%}%> <%}%>
              </div>
            </div>
          </div>
          <div class="col-xl-4 pt-2 justify-content-between d-flex flex-column">
            <div class="d-block pb-4">
              <p class="fz-26 fw-bold pt-2"><%= project.name %></p>
              <p>
                作品簡介：<br />
                &emsp;&emsp;<%= project.introduction %>
              </p>
            </div>
            <div class="d-block">
              <p>
                組員：<% for(var i=0; i< project.members.length; i++){%><%
                if(i==project.members.length-1) { %><%=project.members[i].name
                %><% } else { %><%=project.members[i].name %>, <%}%><%}%>
              </p>
              <p>指導老師：<%= project.instructor %></p>
            </div>
            <div class="d-block text-end pe-2">
              <a
                href="https://www.instagram.com/ntuedtd112/"
                target="_blank"
                rel="instagram"
                aria-label="Instagram"
              >
                <i class="fa-brands fa-instagram fz-26 text-body"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-4">
      <div class="container py-4">
        <% for(var i=0; i< project.members.length; i++){ %>
        <div class="row py-4 mt-4">
          <div class="col-lg-3 pb-2 d-flex justify-content-center">
            <div class="bg-light wz-210 overflow-hidden">
              <img class="img-fluid" src="/img/main/test/test_person_2.png" />
            </div>
          </div>
          <div class="col-lg-9">
            <div class="d-block">
              <p class="fz-26"><%-project.members[i].name %></p>
              <hr class="hr" />
              <p class="fz-16">職位：<%-project.members[i].position %></p>
              <p class="fz-16">聯絡方式：?</p>
              <p class="fz-16">專長：?</p>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </section>

    <% layout("layout") %>
  </body>
</main>
